body {
  position: relative;
}
.jumbotron {
  background-image: url(../img/background.jpg);
  background-size: cover;
  text-align: center;
  margin-top: 50px;
}

#email {
  width: 300px;
}
@media(max-width: 852px) {
  .hide-form {
    display: none;
  }
}
#signup {
  margin: 0 auto;
}

#appSummary {
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#appStoreIcon {
  width: 200px;
}

#footer {
  background-color: aqua;
  padding: 150px;
  margin-top: 50px;
  text-align: center;
}

#footer p, #footer h2{
  width: 100%;
  min-width: 200px;
}

.card-img-top {
  width: 100%;
}